* {
    font-family: Arial, Helvetica, sans-serif;
}

.error {
    color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
    width: auto;
    max-width: 100%;
}

table td {
    text-align: center;
}

.main-content {
    margin-left: 21%;
}

.main-content h1 {
    padding-top: 1%;
}

.main-button {
    position: relative;
    padding: 12px 40px;
    text-align: center;
    background-color: #04a5aa;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.main-button:hover {
    background-color: #03696d;
    cursor: pointer;
}

.main-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.main-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.main-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    height: 101%;
    position: fixed;
    overflow: auto;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

nav li a {
    margin-top: 1%;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-size: 18px;
}

nav li a:hover {
    background-color: #8f8f8f;
    color: white;
}

nav .active:hover {
    background-color: #03696d;
}

nav .active {
    background-color: #04a5aa;
    color: white;
}

nav .login-button {
    position: absolute;
    bottom: 2.3%;
    left: 5.7%;
    width: 85%;
    padding: 12px 5px;
    text-align: center;
    background-color: #04a5aa;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

nav .login-button:hover {
    background-color: #03696d;
}

nav .logout-button {
    position: absolute;
    bottom: 2.3%;
    left: 5.7%;
    width: 85%;
    padding: 12px 5px;
    text-align: center;
    background-color: #e94848;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

nav .logout-button:hover {
    background-color: #b44545;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 90%;
    left: 4.7%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 18px;
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

nav .dropdown-content a:hover {
    background-color: #ddd;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content-page {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    width: 90%;
    left: 4.7%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-page a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.dropdown-content-page a:hover {
    background-color: #ddd;
}

.dropdown-content-page .activeCalc {
    background-color: #b8b8b8;
    font-weight: bold;
    text-decoration: underline;
}